**Task 4: File Handling**

**Creating a text file named ai_students.txt and Writing details of at least 5 students (name, marks, grade)***

In [2]:
with open("ai_students.txt", "w") as f:
    f.write("Name,Marks,Grade\n")

    f.write("Anu,85,A\n")
    f.write("Ravi,72,C\n")
    f.write("Meera,90,A\n")
    f.write("Kiran,65,D\n")
    f.write("Sita,80,B\n")

print("Student details written to ai_students.txt")

Student details written to ai_students.txt

**Reading the file and displaying the students who scored above 75 marks**

In [3]:
print("STUDENTS WITH MARKS > 75")

with open("ai_students.txt", "r") as f:
    next(f)   # Skip header line

    for line in f:
        name, marks, grade = line.strip().split(",")

        # Convert marks from string to integer
        if int(marks) > 75:
            print(f"Name: {name}, Marks: {marks}, Grade: {grade}")

STUDENTS WITH MARKS > 75
Name: Anu, Marks: 85, Grade: A
Name: Meera, Marks: 90, Grade: A
Name: Sita, Marks: 80, Grade: B